
header h1, h2 {
    text-align: center;
    font-family: "DejaVu Serif", "Times New Roman", Times, serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
}

main h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 80%;
}

main h2 span {
    font-weight: bold;
}

main h2:last-of-type {
    margin-bottom: 30px;
}

main canvas {
    display: block;
    width:400px; 
    height:400px;
    margin: auto;
    justify-content: center;
    border: 2px solid black;
}