
header h1, h2, footer {
    text-align: center;
    font-family: "DejaVu Serif", "Times New Roman", Times, serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 80%;
}

main h2 span {
    font-weight: bold;
}

main h2:last-of-type {
    margin-bottom: 30px;
}

main canvas {
    display: block;
    width:400px; 
    height:400px;
    margin: auto;
    justify-content: center;
    border: 2px solid black;
}

footer {
    margin-top: auto;
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: 14px;
}